body{
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
  #matrix {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      z-index: -1;
      overflow: hidden;
    }
    .matrix-column {
      color: #00ff00;
      font-size: 18px;
      white-space: nowrap;
      will-change: transform;
      animation: matrixFall linear infinite;
    }
    @keyframes matrixFall {
      0% {
        transform: translateY(-100vh);
      }
      100% {
        transform: translateY(100vh);
      }
    }
    #convertiseur{
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        z-index: 1;
        width: 80%;
        margin: 20px;
        margin-top: 200px;
        position: relative;
         border: 4px solid #04400bc6; /* couleur initiale */
    }
h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1f2937;
}

input[type="text"] {
    
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 4px solid #cbd5e1;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s;
    outline: none;
}

input[type="text"]:hover {
    border-color: #fcfcfc;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #0f960344;
    color: #ffffff;
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #042201fc;
    box-shadow: 0 4px 15px rgba(37, 99, 235, 0.3);
}

button:active {
    background-color: #1d4ed8;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    color: #6b7280;
    font-size: 0.9rem;
}
